body {
    height: 720px;
    position: absolute;
}

#io_main-content {
    height: 540px;
    background-size: 100%;
    background-image: url('../img/indianflagimage.jpg');
    background-repeat: no-repeat;
}


#io_footer-block {
    height: 180px;
    background-image: url('../img/ocean_waves.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


#io_help-block  {
    background-color: #DDD9D9;
}



#io_help-block h2 {
    text-align: center;
}

#io_help-block  li {
/*        width: 100%; */
        height: 150px;
        margin-bottom: 20px;
}


/*
#help-block li img  {
    width: 50%;
}



#help-block li a  {
        width: 50%;
        float: right;
        border-color: red;
        border: 4px;
}
*/
