body {
    height: 720px;
    position: absolute;
}

#row-main {
    height: 540px;
    background-size: 100%;
    background-image: url('../img/indianflagimage.jpg');
    background-repeat: no-repeat;
}


#row-footer {
    height: 180px;
    background-image: url('../img/ocean_waves.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#help-block  {
    float: right;
    width: 18%;
    background-color: #DDD9D9;
}


#help-block h2 {
    text-align: center;
}

#help-block  li {
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
}



#help-block li img  {
    width: 50%;
}


#help-block li a  {
        width: 50%;
        float: right;
        border-color: red;
        border: 4px;
}



